<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @club.name %>
</p>

<p>
  <b>Exclusive:</b>
  <%= @club.exclusive %>
</p>


<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>

<div id ="disqus_thread">
  <%= raw disqus_thread %>
</div>
